HelloWorld/.vs/
HelloWorld/bin/
HelloWorld/x64/
MatrixMulCPU/UpgradeLog.htm
MatrixMulCPU/.vs/
MatrixMulCPU/x64/
MatrixMulGPU/.vs/
MatrixMulGPU/x64/
STL_Viewer/.vs/
STL_Viewer/STL_Viewer/x64/
Tri_Tri_Int/.vs/
Tri_Tri_Int/bin/
Tri_Tri_Int/x64/
*.stl
