HelloWorld/.vs/
HelloWorld/bin/
HelloWorld/x64/
MatrixMulCPU/UpgradeLog.htm
MatrixMulCPU/.vs/
MatrixMulCPU/x64/
MatrixMulGPU/.vs/
MatrixMulGPU/x64/
STL_Viewer/.vs/
STL_Viewer/STL_Viewer/x64/
Tri_Tri_Int/.vs/
Tri_Tri_Int/bin/
Tri_Tri_Int/x64/
*.stl
Profiler/
HelloWorld/vc140.pdb
RayTriangleGPU_v1/.vs/
RayTriangleGPU_v2/.vs/
RayTriangleGPU_v3/.vs/
RayTriangleGPU_v3/bin/
RayTriangleGPU_v3/x64/
*.png
RayTriangleGPU_v5/.vs/
RayTriangleGPU_v5/bin/
RayTriangleGPU_v5/x64/
RayTriangleGPU_v6/.vs/
RayTriangleGPU_v6/bin/
RayTriangleGPU_v6/x64/
RayTriangleGPU_v4/.vs/
RayTriangleGPU_v4/bin/
RayTriangleGPU_v4/x64/
OpenMP/Project_OpenMP/
